@-webkit-keyframes lights {
  0% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.2), 0 0 0.125em rgba(3, 3, 3, 0.3), -1em -0.125em 0.5em rgba(3, 3, 3, 0), 1em 0.125em 0.5em rgba(3, 3, 3, 0);
  }
  30% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.5), 0 0 0.125em rgba(3, 3, 3, 0.5), -0.5em -0.125em 0.25em rgba(3, 3, 3, 0.2), 0.5em 0.125em 0.25em rgba(3, 3, 3, 0.4);
  }
  40% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.5), 0 0 0.125em rgba(3, 3, 3, 0.5), -0.25em -0.125em 0.125em rgba(3, 3, 3, 0.2), 0.25em 0.125em 0.125em rgba(3, 3, 3, 0.4);
  }
  70% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.5), 0 0 0.125em rgba(3, 3, 3, 0.5), 0.5em -0.125em 0.25em rgba(3, 3, 3, 0.2), -0.5em 0.125em 0.25em rgba(3, 3, 3, 0.4);
  }
  100% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.2), 0 0 0.125em rgba(3, 3, 3, 0.3), 1em -0.125em 0.5em rgba(3, 3, 3, 0), -1em 0.125em 0.5em rgba(3, 3, 3, 0);
  }
}
@keyframes lights {
  0% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.2), 0 0 0.125em rgba(3, 3, 3, 0.3), -1em -0.125em 0.5em rgba(3, 3, 3, 0), 1em 0.125em 0.5em rgba(3, 3, 3, 0);
  }
  30% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.5), 0 0 0.125em rgba(3, 3, 3, 0.5), -0.5em -0.125em 0.25em rgba(3, 3, 3, 0.2), 0.5em 0.125em 0.25em rgba(3, 3, 3, 0.4);
  }
  40% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.5), 0 0 0.125em rgba(3, 3, 3, 0.5), -0.25em -0.125em 0.125em rgba(3, 3, 3, 0.2), 0.25em 0.125em 0.125em rgba(3, 3, 3, 0.4);
  }
  70% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.5), 0 0 0.125em rgba(3, 3, 3, 0.5), 0.5em -0.125em 0.25em rgba(3, 3, 3, 0.2), -0.5em 0.125em 0.25em rgba(3, 3, 3, 0.4);
  }
  100% {
    color: #09203f;
    text-shadow: 0 0 1em rgba(3, 3, 3, 0.2), 0 0 0.125em rgba(3, 3, 3, 0.3), 1em -0.125em 0.5em rgba(3, 3, 3, 0), -1em 0.125em 0.5em rgba(3, 3, 3, 0);
  }
}
.red {
  color: red;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Philosopher", sans-serif;
  color: #09203f;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a, a:focus, a:visited, a:hover {
  text-decoration: none;
  color: #09203f;
}

ul {
  list-style: none;
}

.wrap-bg {
  padding: 0.5rem;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  text-align: center;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.wrap-bg_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  text-align: center;
  border-bottom-left-radius: 5rem;
}

.section-header {
  padding: 10rem 0 5rem 0;
  text-align: center;
}

.title {
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.title_e {
  -webkit-animation: lights 5s 750ms linear infinite;
          animation: lights 5s 750ms linear infinite;
}

.sub-title {
  line-height: 1.8;
  font-size: 2rem;
}

.description {
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
}

.form {
  text-align: center;
}
.form-input {
  padding: 0 1.5rem;
  height: 4rem;
  width: 24rem;
  font-size: 1.8rem;
  border: 1px solid #09203f;
  border-radius: 0.5rem;
}
.form-btn {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  background: #f6d365;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.form-btn:hover {
  background: #fda085;
}

.slick-prev:before, .slick-next:before {
  color: #09203f;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 2;
}

.nav {
  display: block;
  position: relative;
  top: -3rem;
  left: -3rem;
  height: 7rem;
  width: 7rem;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav__btn {
  display: block;
  position: relative;
  top: 0rem;
  left: 0rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.nav__btn_active {
  height: 3rem;
  width: 3rem;
  top: 2.5rem;
  left: 31.5rem;
}
.nav_active {
  border-radius: 0;
  height: 50vh;
  width: 25vw;
  border-bottom-right-radius: 50%;
}
.nav__span {
  display: block;
  position: absolute;
  margin: -0.1rem 0 0 -0.8rem;
  width: 1.2rem;
  height: 0.2rem;
  background-color: #09203f;
  top: 4.4rem;
  left: 4.4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav__span::after, .nav__span::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 0.2rem;
  background-color: #09203f;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav__span::after {
  bottom: 0.5rem;
}
.nav__span::before {
  top: 0.5rem;
}
.nav__span_active {
  top: 2rem;
  left: 1.7rem;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.nav__span_active::after {
  height: 0.2rem;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.nav__span_active::before {
  height: 0.2rem;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.nav-list {
  position: absolute;
  top: 25%;
  left: 8%;
}
.nav-link {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-bottom: 2rem;
  color: #09203f;
  font-size: 2rem;
  -webkit-transform: translate(-60rem, -30rem);
          transform: translate(-60rem, -30rem);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}
.nav-link:hover {
  color: #09203f;
}
.nav-link::before, .nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: #09203f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-link::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  top: 2.8rem;
}
.nav-link::after {
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 0.1rem;
}
.nav-link:hover::before, .nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav-link_active {
  color: #09203f;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
.nav-link_r {
  display: inline;
  position: relative;
  color: #09203f;
  font-size: 1.7rem;
}
.nav-link_r::before, .nav-link_r::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: #09203f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-link_r::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  top: 2.3rem;
}
.nav-link_r::after {
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 0.1rem;
}
.nav-link_r:hover::before, .nav-link_r:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main {
  margin: -1rem auto;
  width: 100%;
  height: 100vh;
  background: url("../img/main-bg_o.png") no-repeat center/cover;
}
.main .section-header {
  padding: 20rem 0 10rem;
}
.main__input {
  width: 60%;
  margin-right: 2rem;
}

.about {
  background-color: #f0f0f0;
}
.about__form {
  margin-bottom: 8rem;
}
.about__input {
  margin-right: 2rem;
}

.feedbacks {
  background-color: #fafafa;
  width: 100%;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.feedbacks__item {
  padding: 0 3rem 0 0;
}
.feedbacks__img {
  width: 50rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.feedbacks__name {
  margin-top: 2rem;
  font-size: 3rem;
}

.ads {
  min-height: 100vh;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.ads__block {
  position: relative;
  height: 35rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.ads__block:hover {
  height: 40rem;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.ads__block:hover .ads__price, .ads__block:hover .ads__btn {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.ads__img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.ads__adress {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #327de2;
}
.ads__value {
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 2rem;
}
.ads__price {
  padding: 2.2rem 2rem;
  width: 100%;
  font-size: 1.6rem;
  display: inline-block;
  background: -webkit-gradient(linear, left bottom, left top, from(#aaa), to(transparent));
  background: linear-gradient(0deg, #aaa 0%, transparent 100%);
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.ads__btn {
  display: inline-block;
  position: absolute;
  top: 34.5rem;
  right: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
}

.footer {
  padding: 1rem 0;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  font-size: 1.2rem;
}
.footer__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__link {
  position: relative;
  font-size: 1.4rem;
  cursor: pointer;
}
.footer__link::before, .footer__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: #09203f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer__link::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  top: 1.6rem;
}
.footer__link::after {
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -0.1rem;
}
.footer__link:hover::before, .footer__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.footer__p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */