* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffed;
}

a, a:focus, a:visited, a:hover {
  color: #000;
  text-decoration: none;
}

hr {
  width: 93%;
  color: #000;
  margin: 0 auto;
}

.fi {
  font-size: 2.5rem;
}
.fi-brands-whatsapp {
  -webkit-transition: all 0.5;
  transition: all 0.5;
}
.fi-brands-whatsapp:hover {
  color: #4cd137;
}
.fi-brands-vk {
  -webkit-transition: all 0.5;
  transition: all 0.5;
}
.fi-brands-vk:hover {
  color: #0652dd;
}
.fi-brands-instagram {
  -webkit-transition: all 0.5;
  transition: all 0.5;
}
.fi-brands-instagram:hover {
  color: #D980FA;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-img {
  width: 8rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.social-link {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.social-link:hover {
  color: #6633ff;
  text-shadow: 0 0 1.5rem #6633ff;
}
.social-link__whatsapp {
  -webkit-transition: all 0.5;
  transition: all 0.5;
}
.social-link__whatsapp:hover {
  text-shadow: 0 0 1.5rem #4cd137;
}
.social-link__vk {
  -webkit-transition: all 0.5;
  transition: all 0.5;
}
.social-link__vk:hover {
  text-shadow: 0 0 1.5rem #0652dd;
}
.social-link__instagram {
  -webkit-transition: all 0.5;
  transition: all 0.5;
}
.social-link__instagram:hover {
  text-shadow: 0 0 1.5rem #d980fa;
}
.social__btn {
  border: 2px solid #000;
  padding: 0.1rem 2rem;
  border-radius: 3rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.social__btn:hover {
  -webkit-box-shadow: inset 0 0 1.5rem #6633ff, 0 0 1.5rem #6633ff;
          box-shadow: inset 0 0 1.5rem #6633ff, 0 0 1.5rem #6633ff;
  color: #ffffed;
  background-color: #6633ff;
  text-shadow: 0 0 1.5rem #6633ff;
  border: 2px solid #6633ff;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 1rem;
  list-style: none;
}

.main {
  text-align: center;
  font-size: 2.6rem;
}
.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.main__header {
  font-size: 4rem;
}
.main-logo-img {
  width: 60rem;
}
