@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Sofia+Sans:wght@200;400;600;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffed;
}

.no-scroll {
  overflow-y: hidden;
}

section {
  margin: 4rem auto;
}

.title {
  margin: 2rem auto;
  font-size: 4rem;
  text-align: center;
}
.title__link {
  display: inline-block;
  margin: 0 2rem 2rem 2rem;
  font-size: 1.2rem;
  color: #000;
}

.sub-title {
  font-size: 3rem;
  line-height: 1.8;
  text-align: justify;
  white-space: pre-wrap;
}

.txt {
  margin: 1rem 0 4rem 1rem;
  line-height: 2.4rem;
  font-size: 1.7rem;
  color: #666;
  white-space: pre-wrap;
}

a, a:focus, a:visited, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

#hr__down {
  width: 83%;
}

.fi {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.fi-brands-whatsapp:hover {
  color: #4cd137;
}
.fi-brands-vk:hover {
  color: #0652dd;
}
.fi-brands-instagram:hover {
  color: #D980FA;
}

.main-link {
  position: relative;
  color: #000;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-link:hover {
  color: #8761ff;
  text-shadow: 0 0 1.5rem #8761ff;
}
.main-link_active {
  color: #8761ff;
}
.main-link_active::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #8761ff;
  position: absolute;
  bottom: -1.4rem;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-box-shadow: 0 -3px 7px #8761ff;
          box-shadow: 0 -3px 7px #8761ff;
}

.main-btn {
  border: 2px solid #000;
  border-radius: 3rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.main-btn:hover {
  color: #ffffed;
  background-color: #8761ff;
  border: 2px solid #8761ff;
}

.side-bar {
  position: fixed;
  margin-top: 5rem;
  padding: 1rem;
  border-top: 1px solid rgba(135, 97, 255, 0.3);
  border-right: 1px solid rgba(135, 97, 255, 0.3);
  border-top-right-radius: 5rem;
}
.side-bar .main-link::after {
  bottom: -0.5rem;
}

.video {
  border-radius: 5rem;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  width: 8rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.social__btn {
  padding: 0.1rem 2rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 1rem;
}

.main {
  text-align: center;
  font-size: 2.6rem;
}
.main-wrapper {
  font-family: "Lobster", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.main__header {
  font-size: 4rem;
}
.main-logo__img {
  width: 50rem;
}

.about {
  position: relative;
}
.about::after {
  content: "";
  background: url(../img/logo.png) no-repeat bottom right/cover;
  position: absolute;
  height: 45rem;
  width: 45rem;
  right: 0;
  bottom: -2rem;
  opacity: 0.4;
  z-index: -1;
}
.about__sub-title {
  font-size: 2rem;
}
.about__list {
  width: 70%;
  margin-left: 3rem;
}
.about__item {
  font-size: 1.7rem;
  margin: 1rem auto;
}

.services-list-item {
  margin: 2rem;
  margin-left: -1rem;
}
.services__link {
  font-size: 1.8rem;
}
.services__img {
  width: 100%;
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3rem;
}

.contacts__title {
  margin: 3rem auto 2rem;
}
.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
.contacts__btn {
  display: inline-block;
  margin-top: 2.5rem;
  padding: 1rem 1.6rem;
}

.main-link_contacts .fi {
  font-size: 4rem;
}

.map {
  position: absolute;
  right: 0;
  top: 13rem;
  background-color: #ccc;
  width: 48%;
  height: 42rem;
}
.map iframe {
  width: 100%;
  height: 100%;
}

.popup-btn {
  cursor: pointer;
}

.info__list-item {
  font-size: 1.8rem;
  margin: 1rem auto;
}
.info__accordion {
  width: 90%;
}
.info__accordion-item_bg {
  border: 1px solid #000;
  background-color: #ffffed;
}
.info__accordion-header {
  padding-left: 3rem;
  font-size: 2rem;
  background-color: #ffffed;
  border: 2px double #666;
}
.info__accordion-body {
  margin: 0;
  font-size: 1.8rem;
  background-color: #ffffed;
}

.accordion-item {
  background-color: #ffffed;
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 5rem;
  background-color: rgba(255, 255, 237, 0.6);
  color: #000;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #000;
}
.accordion-flush .accordion-item .accordion-button .accordion-button, .accordion-flush .accordion-item .accordion-button .accordion-button:focus, .accordion-flush .accordion-item .accordion-button button:focus:not(:focus-visible), .accordion-flush .accordion-item .accordion-button.collapsed .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed .accordion-button:focus, .accordion-flush .accordion-item .accordion-button.collapsed button:focus:not(:focus-visible) {
  outline: none;
  border: none;
}

.footer {
  padding: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffed;
}
.footer__link {
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__link:hover {
  color: #8761ff;
}
.footer__txt {
  margin: auto;
  color: #000;
  font-size: 1.2rem;
  text-align: center;
}
.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer-block::before, .footer-block::after {
  content: "";
  height: 0.1rem;
  width: 40%;
  position: absolute;
  top: 25%;
  background-color: rgba(0, 0, 0, 0.3);
}
.footer-block::before {
  right: 38%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer-block::after {
  left: 38%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.6);
}
.popup-dialog {
  width: 35rem;
  height: 43rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 4rem 3rem;
  border-radius: 3rem;
  background-color: #ffffed;
}
.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup-close {
  position: absolute;
  top: 0;
  right: -2rem;
  border: none;
  background-color: transparent;
  color: #ffffed;
  font-size: 2rem;
}
.popup-header {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
.popup-form {
  font-size: 1.6rem;
}
.popup-form-label {
  display: block;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popup-form-input {
  width: 24rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  outline: none;
}
.popup-form-input:focus ~ label, .popup-form-input:valid ~ label {
  -webkit-transform: translateY(-7rem);
          transform: translateY(-7rem);
}
.popup-form-btn {
  display: block;
  margin: 2rem auto;
  padding: 0.5rem 2rem;
  background-color: transparent;
}
.popup-form__fi {
  font-size: 2rem;
  margin-left: -2rem;
  color: #444;
}
