// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sofia+Sans:wght@200;400;600;800&display=swap')


// Цвета
$txt: #000
$milk: #ffffe0 
$color-btn: #fff200



// Общие свойства
*
	box-sizing: border-box
	margin: 0
	padding: 0
	color: $txt

html 
	font-size: 10px

body
	font-family: 'Lobster', cursive
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%)

.title
	text-align: center
	font-size: 3rem
	transition: all 0.5s

a, a:focus, a:visited, a:hover
	color: $txt
	text-decoration: none

hr 
	width: 93%
	color: $txt
	margin: 0 auto

.container_milk
	// background-color: rgba($txt, 0.2)
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 80%)
	margin: 3rem auto
	border-radius: 4rem
	box-shadow:  300px 100px 20px rgba(0, 0, 0, .3)


// Header
.header 
	height: 6rem
	display: flex
	align-items: center

.logo
	&-img 
		width: 8rem

.menu
	display: flex
	align-items: center
	justify-content: space-around
	height: 100%
	text-align: center
	&-link
		font-size: 1.8rem
		transition: all 0.4s
		&:hover
			color: $color-btn
			text-shadow: 0 0 1.5rem $color-btn
	&__btn
		border: 2px solid #000
		padding: 0.5rem 2rem
		border-radius: 3rem
		transition: all 0.4s
		&:hover
			box-shadow: inset 0 0 1.5rem $color-btn,  0 0 1.5rem $color-btn
			color: $color-btn
			text-shadow: 0 0 1.5rem $color-btn
			border: 2px solid $color-btn


// Главная
.main
	&-wrapper
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		height: 100%
	&__header
		font-size: 4rem
	&__subtitle
	text-align: center
	font-size: 2.6rem
	&-logo
		&-img
			width: 60rem
	

//  О нас
.about
	&:hover .title
		color: $milk
	&-block
		// background-color: rgba($txt, 0.2)
		background-image: linear-gradient(135deg, #667eea 0%, #764ba2 80%)
		margin: 3rem auto
		padding: 1rem
		border-radius: 4rem
		box-shadow:  300px 100px 20px rgba(0, 0, 0, .3)
		transition: all 0.5s
		&:hover
			transform: scale(1.04)
			& .about-block__subtitle
				color: $milk
		&__img
			width: 24rem
			border-radius: 4rem
		&__title
			color: $milk
			font-size: 3rem
			text-align: right
		&__subtitle
			padding: 0.8rem
			color: $txt
			font-size: 2rem
			letter-spacing: 1px
			transition: all 0.5s







// Портфолио

