// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sofia+Sans:wght@200;400;600;800&display=swap')

// Цвета
$txt: #000
$txt-gray: #666
$milk: #ffffed 
$color-btn: #8761ff



// Общие свойства
*
	box-sizing: border-box
	margin: 0
	padding: 0
	color: $txt

html 
	font-size: 10px

body
	background-color: $milk
.no-scroll
	overflow-y: hidden

section
	margin: 3rem auto

.title
	font-family: 'Lobster', cursive
	margin: 2rem auto
	font-size: 4rem
	text-align: center
	&__link
		display: inline-block
		margin: 0 2rem 2rem 2rem
		font-size: 1.2rem
		color: $txt

.sub-title
	font-size: 3rem
	line-height: 1.8
	text-align: justify
	white-space: pre-wrap

.txt
	margin-top: 1rem 
	line-height: 2.4rem
	font-size: 1.7rem
	color: $txt-gray
	white-space: pre-wrap

a, a:focus, a:visited, a:hover
	text-decoration: none

ul
	list-style: none
	padding: 0

hr
	width: 100%
	color: rgba(0, 0, 0, 0.6)
	margin: 0 auto
#hr__down
		width: 83%
.fi
	display: inline-block
	margin-top: 0.5rem
	font-size: 2.5rem
	transition: all 0.3s
	&-brands
		&-whatsapp
			&:hover
				color: #4cd137
		&-vk
			&:hover
				color: #0652dd
		&-instagram
			&:hover
				color: #D980FA

.main-link
		position: relative
		color: $txt
		font-size: 1.6rem
		text-transform: uppercase
		font-weight: 500
		transition: all 0.3s
		&:hover
			color: $color-btn
			text-shadow: 0 0 1.5rem $color-btn
		&_active
			color: $color-btn
			&::after
				content: ''
				width: 100%
				height: 0.2rem
				background-color: $color-btn
				position: absolute
				bottom: -1.4rem
				right: 50%
				transform: translateX(50%)
				box-shadow: 0 -3px 7px $color-btn
.main-btn
		border: 2px solid #000
		border-radius: 3rem
		transition: all 0.4s
		&:hover
			color: $milk
			background-color: $color-btn
			border: 2px solid $color-btn

.side-bar
	position: fixed
	margin-top: 5rem
	padding: 1rem 2rem 1rem 0
	border-top: 1px solid rgba($color-btn, 0.3)
	border-right: 1px solid rgba($color-btn, 0.3)
	border-top-right-radius: 5rem
	z-index: 1
	&-list
		&__item
			margin: 2rem 0
	&__link
		font-size: 1.6rem
	.main-link
		&::after
			bottom: -0.5rem
.video
	border-radius: 5rem
	height: 50rem
	width: 50rem
	object-fit: cover
	box-shadow: -6px 6px 15px $color-btn
	&-block
		display: flex
		justify-content: center
	

// Header
.header 
	display: flex
	align-items: center
.logo
	&__img 
		width: 8rem
.social
	display: flex
	align-items: center
	justify-content: space-between
	height: 100%
	&__btn
		padding: 0.1rem 2rem
.nav-list
	display: flex
	justify-content: space-around
	text-align: center
	margin-top: 1rem
	&-item

// Главная
.main
	&::after
		content: ''
		background: url(../img/logo.png) no-repeat bottom right / cover
		position: fixed
		height: 60rem
		width: 60rem
		left: -32rem
		bottom: 16%
		transform: scale(-1, 1)
		opacity: 0.4
		z-index: -1
	&-wrapper
		font-family: 'Lobster', cursive
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		height: 100%
	&__header
		font-size: 4rem
	&__subtitle
	text-align: center
	font-size: 2.6rem
	&-logo
		&__img
			width: 50rem

// Слайдер главной
.main-slider
	display: flex
	justify-content: center
	&__img
		width: 100%
		height: 100%
		object-fit: cover
		border-radius: 5rem
.slick-slider .slick-track, .slick-slider .slick-list
	height: 50rem
	width: 50rem
	box-shadow: -6px 6px 15px $color-btn
	border-radius: 5rem
	
// О нас
.about
	position: relative
	overflow-x: hidden
	&::after
		content: ''
		background: url(../img/logo.png) no-repeat bottom right / cover
		position: fixed
		height: 60rem
		width: 60rem
		right: -32rem
		bottom: 16%
		opacity: 0.4
		z-index: -1
	&__sub-title
		font-size: 2rem
	&__list
		width: 70%
		margin-left: 3rem

	&__item
		font-size: 1.7rem
		margin: 1rem auto 1rem -2rem

// Услуги
.services
	.title
		text-align: left
	&::after
		content: ''
		background: url(../img/logo.png) no-repeat bottom right / cover
		position: fixed
		height: 60rem
		width: 60rem
		right: -32rem
		bottom: 16%
		opacity: 0.4
		z-index: -1
	&__post-block
		margin: 0 0 5rem
		text-align: center

	&__post-img
		border-radius: 5rem
		width: 26rem
		height: 26rem
		object-fit: cover
		border: 1px solid $color-btn
		box-shadow: -6px 6px 15px $color-btn

// Портфолио
.portfolio
	.title
		text-align: left
	&::after
		content: ''
		background: url(../img/logo.png) no-repeat bottom right / cover
		position: fixed
		height: 60rem
		width: 60rem
		right: -32rem
		bottom: 16%
		opacity: 0.4
		z-index: -1
	&-slider
		display: flex
		justify-content: center
		margin-bottom: 4rem
		&__img
			height: 100%
			width: 100%
			object-fit: cover
			&-nav
				margin: 0.5rem auto 0
				height: 9rem
				width: 9rem
				object-fit: cover
				border-radius: 3rem
				border: 1px solid $color-btn
		&_nav
			display: flex
			justify-content: center
			margin: 2rem auto 0
			width: 65%
			.slick-track, .slick-list
				height: 10rem
	.slick-slider .slick-track, .slick-slider .slick-list
		border-radius: 5rem
	.slick-slider .slick-track
		box-shadow: none
	.arrow
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		background-color: transparent
		border: none
		width: 3.5rem
		height: 3.5rem
		bottom: -11rem
		color: $color-btn
		font-size: 2.2rem
		border: 1px solid $color-btn
		border-radius: 10rem
		box-shadow: -6px 6px 15px $color-btn
		transition: all 0.4s
		&:hover
			background-color: $color-btn
			color: $milk
	.next
		left: 9rem
	.prev
		right: 9rem
	.side-bar
		margin-top: 0
		&-list
			&__item
				margin: 1.2rem 0


// Секция инфо
.info
	position: relative
	overflow-x: hidden
	&::after
		content: ''
		background: url(../img/logo.png) no-repeat bottom right / cover
		position: fixed
		height: 60rem
		width: 60rem
		right: -32rem
		bottom: 16%
		opacity: 0.4
		z-index: -1
	&__list-item
		font-size: 1.8rem
		margin: 1rem auto

// Контакты
.contacts
	margin: 0
	position: relative
	&__title
		margin: 4rem auto 1rem
	&-block
		display: flex
		justify-content: space-around
		align-items: center
		margin: 2rem 0
	&__block
		min-height: 8rem
	&__btn
		display: inline-block
		margin-top: 2.5rem
		padding: 1rem 1.6rem
.main-link_contacts
	.fi
		font-size: 4rem
.map
	position: absolute
	right: 0
	top: 0
	background-color: #ccc
	width: 48%
	height: 100%
	iframe
		width: 100%
		height: 100%
.popup-btn
	cursor: pointer

// Футер
.footer 
	padding: 2rem
	position: relative
	display: flex
	align-items: center
	justify-content: center
	background-color: $milk
	&__link
		color: $txt
		transition: all 0.3s
		&:hover
			color: $color-btn
	&__txt
		margin: auto
		color: $txt
		font-size: 1.2rem
		text-align: center
	&-block
		display: flex
		justify-content: space-evenly
		&::before, &::after
			content: ''
			height: 0.1rem
			width: 40%
			position: absolute
			top: 29%
			background-color: rgba(0, 0, 0, 0.3)
		&::before
			right: 38%
			transform: translateX(-50%)
		&::after
			left: 38%
			transform: translateX(50%)

// Спасибо
.thx
	height: 70vh
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	.title_thx
		font-family: 'Lobster', cursive
		font-size: 3.5rem
		margin-bottom: 1.6rem
		text-align: center
	&::after
		content: ''
		background: url(../img/logo.png) no-repeat bottom right / cover
		position: fixed
		height: 60rem
		width: 60rem
		left: -32rem
		bottom: 16%
		transform: scale(-1, 1)
		opacity: 1
		z-index: -1


// Модальное окно
.popup
	display: none
	position: fixed
	top: 0
	left: 0
	height: 100%
	width: 100%
	z-index: 9
	background-color: rgba(0, 0, 0, 0.6)
	&-dialog
		width: 	35rem
		height: 43rem
		position: fixed
		display: flex
		align-items: center
		justify-content: center
		position: relative
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		padding: 4rem 3rem
		border-radius: 3rem
		background-color: $milk
	&-content
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
	&-close
		position: absolute
		top: 0
		right: -2rem
		border: none
		background-color: transparent
		color: $milk
		font-size: 2rem
	&-header
		text-align: center
		font-size: 2.4rem
		margin-bottom: 5rem
	&-form
		font-size: 1.6rem
		&-label
			display: block
			transform: translateY(-5rem)
			transition: all 0.3s
		&-input
			width: 24rem
			margin-bottom: 2rem
			padding-top: 1rem
			border: none
			background-color: transparent
			border-bottom: 1px solid #000
			outline: none
			&:focus ~ label, &:valid ~ label
				transform: translateY(-7rem)

		&-btn
			display: block
			margin: 2rem auto
			padding: 0.5rem 2rem
			background-color: transparent
		&__fi
			font-size: 2rem
			margin-left: -2rem
			color: #444





// Медиа запросы 
// Экраны LG
@media (max-width: 1199px)
	.services
		&__post-img
			width: 20rem
			height: 20rem
	.portfolio
		&-slider
			&__img
				&-nav
					height: 9rem
					width: 9rem
			&_nav
				width: 100%
				.slick-track, .slick-list
					height: 10rem
		.arrow
			bottom: -11rem
		.next
			left: 0
		.prev
			right: 0
	.contacts
		&__block
			min-height: 9.5rem
		.map
			width: 44%
// Экраны MD
@media (max-width: 991px)
	.main
		&__header
			font-size: 3rem
		&__subtitle
			font-size: 2rem
	.main-link
		font-size: 1.4rem
	.slick-slider .slick-track, .slick-slider .slick-list
		height: 39rem
		width: 39rem
	.services
		&__post-img
			width: 13rem
			height: 13rem
	.portfolio
		&-slider
			&__img
				&-nav
					height: 7rem
					width: 7rem
			&_nav
				.slick-track, .slick-list
					height: 8rem
		.arrow
			bottom: -10rem
		.next
			left: -4rem
		.prev
			right: -4rem
	.video
		height: 40rem
		width: 40rem

	.contacts
		&__block
			min-height: 11rem

// Экраны SM
@media (max-width: 767px)
	.main
		&::after
			background: none
		&__header
			font-size: 2.6rem
		&__subtitle
			margin-bottom: 3rem
			font-size: 1.6rem
	.main-link
		font-size: 1.3rem
		&::after
			bottom: -1.35rem
	.about, .portfolio, .services
		&::after
			background: none
	.services
		.title
			text-align: center
		&__post-img
			width: 14rem
			height: 14rem
	.side-bar
		position: relative
		margin: 2rem auto
		padding: 0
		width: 70%
		text-align: center
		border: 1px solid rgba($color-btn, 0.3)
		border-radius: 5rem
	.portfolio
		.title
			text-align: center
	.info
		&::after
			background: none
		&__list
			margin-bottom: 3rem
	.contacts
		text-align: center
		.map
			position: relative
			width: 100%
			height: 30rem
		.main-link_contacts
			.fi
				font-size: 3.6rem
	.footer
		&__txt
			&:last-child
				margin-top: 1rem
				text-align: center
		&-block
			&::before, &::after
				top: 4rem
			&::before
				right: 45%
			&::after
				left: 45%
	.thx
		&::after
			display: none

// Экраны XS
@media (max-width: 575px)
	.main-link
		font-size: 1rem
		font-weight: 600
		&::after
			bottom: -1.33rem
		&_info
			font-size: 1.4rem
	.slick-slider .slick-track, .slick-slider .slick-list
		height: 35rem
		width: 35rem
	.about
		&::after
			background: none
	.services
		&__post-block
			margin: 0
		&__post-img
			margin-bottom: 2rem
			width: 19rem
			height: 19rem
	.portfolio
		&-slider
			&__img
			&_nav
				.slick-track, .slick-list
					height: 8rem
		.arrow
			width: 3rem
			height: 3rem
			bottom: -3.5rem
			font-size: 1.8rem
		.next
			left: 0
		.prev
			right: 0
	.contacts
		.main-link_contacts
			.fi
				font-size: 3.2rem
// Экран айфон 12 про
@media (max-width: 390px)
	.services
		.txt
			font-size: 1.3rem
	.video
		width: 30rem
		height: 30rem
	.main-link
		font-size: 0.9rem
		font-weight: 700
		&::after
			bottom: -1.28rem
		&_info
			font-size: 1.4rem
	.slick-slider .slick-track, .slick-slider .slick-list
		height: 32rem
		width: 32rem
	.fi
		font-size: 2rem
	.portfolio
		&-slider
			&__img
				&-nav
					width: 5rem
					height: 5rem
					border-radius: 2rem
			&_nav
				.slick-track, .slick-list
					height: 6rem
		.arrow
			width: 2.5rem
			height: 2.5rem
			bottom: -3.5rem
			font-size: 1.6rem
		.next
			left: -1rem
		.prev
			right: -1rem
	.footer
		&-block
			justify-content: space-between
			&::before, &::after
				top: 18.5%
	.popup
		&-dialog
			width: 30rem
		&-header
			font-size: 2rem







